<div class="container">
  <title style="color: brown;">{{ title }}</title>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-info" (click)="onlyOdd = !onlyOdd"> Only show odd numbers
      </button>
      <br><br>
      <ul class="list-group">
        <div class="even" *ngIf="!onlyOdd">
        <li class="list-group-item" [ngStyle]="{
          backgroundColor: n ? 'yellow' : 'transparent'}" *ngFor="let n of evenNumbers">{{ n }}</li>
        </div>
        <div class="odd" *ngIf="onlyOdd">
          <li class="list-group-item" [ngStyle]="{
            backgroundColor: n ? 'aquamarine' : 'transparent'}" *ngFor="let n of oddNumbers">{{ n }}</li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p appBasicHighlight>Only Odd Numbers</p>
      </ng-template>
      <p appBetterHighlighter [defaultColor]="'yellow'" [highlightColor]="'red'"> Hello World! </p>
    </div>
  </div>
</div>